@{
  Layout = "_Layout";
}

<h1>Welcome to the Salon!</h1>


<div class="d-grid gap-2">
  <a href='./Clients/Index'><button type="button" class="btn btn-lg btn-primary" style="width:150px">See all clients</button></a><br><br>
  <a href='./Stylists/Index'><button type="button" class="btn btn-lg btn-primary" style="width:150px">See all stylists</button></a>
</div>

