@{
  Layout = "_Layout";
}

<h1>Welcome to the Hair Salon!</h1>


<div class="d-grid gap-2">
  <a href='~/Stylists/Index'><button type="button" class="btn btn-lg btn-primary" style="width:150px">See all Stylists</button></a>
  <a href='~/Stylists/Create'><button type="button" class="btn btn-lg btn-primary" style="width:150px">Add Stylists</button></a>
</div>

