@{
  Layout = "_Layout";
}

@using Salon.Models;
@model List<Salon.Models.Client>;

<h1>Salon Clients</h1>

<ul>
  @foreach(Client clients in Model)
  {
    <li>@Html.ActionLink($"{clients.Name}", "Details", new { id = clients.ClientId }) | </li>
  }
</ul>

<p>@Html.ActionLink("Add New Client", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>